{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'back/css/login.css' %}">
    <link href="{% static 'front/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>User | Login</title>
</head>

<body class="bg-dark">
    <div class="login">
        <div class="login-triangle"></div>
        <h2 class="login-header">Log in</h2>

        <form class="login-container" action="{%url 'mylogin' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p><input type="text" name="username" id="username" placeholder="Username"></p>
            <p><input type="password" name="password" id="password" placeholder="Password"></p>
            <p id="error ">{{error}}</p>
            <p><input type="submit" value="Login"></p>
            <p class="lead font-weight-bold">Not a user? <a href="/register/">Register</a></p>
        </form>
    </div>
</body>

</html>