{% extends 'front/user/master.html' %}{% load static %} {% block titleblock %}
<title>{{request.user}} | Dashboard</title>{% endblock %} {% block mainblock %}
<div class="row">
   <div class="col-lg-12">
      <h1 class = "text-center">Welcome</h1>
      <h1 class = "text-center">To Dashboard</h1>
   </div>

</div>{% endblock %} {% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/index.js' %}"></script>
<script>
   $(function() {
       Index.init();
   });
</script>{% endblock %}
