{% extends 'front/user/master.html' %}{% load static %} {% load humanize %} {% block titleblock %}
<title>{{request.user}} | History</title>{% endblock %}{% block mainblock %}
<!-- Datatables Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table">My History </i> My History
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li><a href="/user/panel/record/list/">History</a></li>
</ul>
<!-- END Datatables Header -->
<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>My</strong> History</h2>
    </div>

    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Subject</th>
                    <th class="text-center">Correct Answer</th>
                    <th class="text-center">Total Question</th>
                    <th class="text-center">Take ON</th>
                </tr>
            </thead>
            <tbody>
                {% for i in history %}
                <tr>
                    <td class="text-center">{{i.subject}}</td>
                    <td class="text-center">{{i.correctAnswer}}</td>
                    <td class="text-center">{{i.totalQuestion}}</td>
                    <td class="text-center">{{i.date|naturalday}} | {{i.time|naturaltime}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
<!-- END Datatables Content -->{% endblock %}{% block footerblock %}

<!-- Load and execute javascript code used only in this page -->
<script src="{%static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>
    $(function() {
        TablesDatatables.init();
    });
</script>
{% endblock %}
